<!-- app/views/devise/registrations/new.html.erb -->

<!-- component -->
<body class="bg-white">
    <!-- url('/img/hero-pattern.svg') -->
    <div class="flex min-h-screen bg-white">

        <div class="w-1/2 bg-cover md:block hidden" style="background-image:  url(https://images.unsplash.com/photo-1520243947988-b7b79f7873e9?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDd8fGJsYWNrJTIwZm9yZXN0fGVufDB8fDB8eWVsbG93&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60)"></div>
        <!-- <div class="bg-no-repeat bg-right bg-cover max-w-max max-h-8 h-12 overflow-hidden">
            <img src="log_in.webp" alt="hey">
        </div> -->


        <div class="md:w-1/2 max-w-lg mx-auto my-24 px-4 py-5 shadow-none">

            <div class="text-left p-0 font-sans">
                <!-- Sign up message-->
                <h1 class=" text-gray-800 text-3xl font-medium">Créer un compte c'est gratuit</h1>
                <h3 class="p-1 text-gray-700">Gratuit pour toujours. Aucun paiement nécessaire..</h3>
            </div>

            <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          
                <div class="mt-5">

                 <!-- <label for="email" class="sc-bqyKva ePvcBv">Email</label> -->
                <%= f.text_field :email, hide_label: true,
                     class:"block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent " ,placeholder:"Votre Email..." %>
                   
                </div>
                <div class="mt-5">
                    <%= f.text_field :username, class:"block w-full p-2 border rounded border-gray-300 focus:outline-none
                     focus:ring-1 focus:ring-gray-400 focus:border-transparent ",
                      placeholder:"Votre Nom ..." %>
                </div>
                <div class="mt-5">
                    <%= f.text_field :contact, class:"block w-full p-2 border rounded border-gray-300 focus:outline-none
                     focus:ring-1 focus:ring-gray-400 focus:border-transparent ",
                      placeholder:"Contact WhatsApp ..." %>
                </div>
                <div class="mt-5">
                <%= f.text_field :password, hide_label: true, 
                    class:"block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1
                    focus:ring-gray-400 focus:border-transparent  ",
                    placeholder:"Mot de passe..." %>
                    
                </div>

                <div class="mt-6 block p-5 text-sm md:font-sans text-xs text-gray-800">
                    <input type="checkbox" class="inline-block border-0  ">
                    <span display="inline" class="">En créant un compte , vous acceptez nos  
                        <a class="" href="/s/terms" target="_blank" data-test="Link">
                        <span class="underline ">Conditions générales </span> </a> et
                    <a class="" href="/s/privacy" target="_blank" data-test="Link">
                        <span class="underline">Politique de confidentialité</span> </a>
                    </span>
                </div>

                <div class="mt-10">
                <%= f.submit "Créer votre compte", class:"py-3 bg-green-500 text-white w-full rounded hover:bg-green-600" %>
                    
                </div>
            <% end %>


