<%= content_for @title="Se Connecter" %>


<div class="flex items-center min-h-screen bg-white dark:bg-gray-900">
    <div class="container mx-auto">
        <div class="max-w-md mx-auto my-10">
            <div class="text-center">
                <h1 class="my-3 text-3xl font-semibold text-gray-700 dark:text-gray-200">Se Connecter</h1>
                <p class="text-gray-500 dark:text-gray-400">Connectez-vous pour accéder a votre compte</p>
            </div>
            <div class="m-7">
                <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="mb-6">
                        <label for="email" class="block mb-2 text-sm text-gray-600 dark:text-gray-400">Addresse Email</label>
                        
                        <%= f.text_field :email,
                                    required: false,
                                    autofocus: true, hide_label:true,
                                    input_html: { autocomplete: "email" }, id:"email", 
                                    class:"w-full px-3 py-2 placeholder-gray-400 border  font-seminbold border-yellow-300 rounded-md focus:outline-none focus:ring focus:ring-yellow-100 focus:border-yellow-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500",
                                    placeholder:"Adresse Email.." %>
                        
                    </div>
                    <div class="mb-6">
                        <div class="flex justify-between mb-2">
                            <label for="password" class="text-sm font-semibold text-gray-600 dark:text-gray-400">Mot de passe</label>
                            <a href="#!" class="text-sm text-gray-400 focus:outline-none focus:text-yellow-500 hover:text-yellow-500 dark:hover:text-indigo-300">Mot de passe oublié?</a>
                        </div>
                       
                        <%= f.password_field :password,
                                    required: false, id:"password", placeholder:"Votre mot de passe...",
                                    input_html: { autocomplete: "current-password" },hide_label:true,
                                    class:"w-full px-3 py-2 placeholder-gray-300 border border-gray-300 rounded-md focus:outline-none focus:ring focus:ring-indigo-100 focus:border-indigo-300 dark:bg-gray-700 dark:text-white dark:placeholder-gray-500 dark:border-gray-600 dark:focus:ring-gray-900 dark:focus:border-gray-500" %>
                    </div>
                        <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable?%>
                    <div class="mb-6">
                        <%= f.submit "Se Connecter", class:"w-full px-6 py-4 text-white bg-yellow-500 font-semibold rounded-md focus:bg-yellow-600 focus:outline-none" %>
                    </div>
                    <p class="text-sm text-center text-gray-400">Pas encore de compte, crée votre compte d'abord? <%= link_to "je crée mon compte", new_user_registration_path, class:"text-indigo-400 focus:outline-none focus:underline focus:text-indigo-500 dark:focus:border-indigo-800" %>.</p>
                <% end %>
            </div>
        </div>
    </div>
</div>

