<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render "layouts/shared/analytics" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
   
  </head>

  <body>

    <%= render "layouts/shared/noticed" %>
    <%= yield %>
  </body>

  <!-- script footer-->
  <%= render "shared/allo_assets/styles" %>
  <%= render "shared/allo_assets/scripts" %>
  <%= render "shared/allo_assets/cdn" %>
</html>
